.color-linea {
  background: #000000;
}

body {
  font-family: 'Carrois Gothic', sans-serif;
  font-weight: 400;
}

h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}

h3 {
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}
